@use "variables";
@use "utility";

aside {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: var(--neutral-900);
	left: 0;
	top: 0;
	bottom: 0;
	right: 35%;
	padding: 1.5rem;
	transition: 500ms ease-in-out;
	transform: translateX(-65vw);
	h2 {
		color: var(--neutral-100);
		text-transform: uppercase;
		letter-spacing: 2.5px;
		font-family: "Roboto", sans-serif;
		font-size: 15px;
		font-weight: bold;
	}
	h3 {
		color: var(--neutral-500);
		text-transform: uppercase;
		margin-block: 2rem;
	}
}

.newDocBtn {
	background-color: var(--accent);
	border: 0;
	color: var(--neutral-100);
	border-radius: 0.25rem;
	width: 100%;
	padding-block: 0.5rem;
	&:hover,
	&:focus {
		background-color: var(--accent-hover);
		cursor: pointer;
	}
}

.documentList {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	list-style: none;
	padding-block: 1.5rem;
	gap: 1rem;
}

.documentListItem {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	img {
		object-fit: contain;
		width: 1rem;
	}
	div {
		p {
			color: var(--neutral-500);
		}
		button {
			background: none;
			border: 0;
			color: var(--neutral-100);
		}
	}
}

.translateContent {
	transform: translateX(65vw);
	transition: 500ms ease-in-out;
}

.asideOpen {
	transform: translateX(0);
	transition: 500ms ease-in-out;
}

.themeSwitchWrapper {
	position: relative;
	margin-top: auto;
	display: flex;
	gap: 0.5rem;
	img {
		object-fit: contain;
		width: 1.5rem;
	}
}

/* The switch - the box around the slider */
.switch {
	font-size: 13px;
	position: relative;
	display: inline-block;
	width: 3.5em;
	height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--neutral-600);
	border: 1px solid var(--neutral-600);
	transition: 0.4s;
	border-radius: 30px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 1.4em;
	width: 1.4em;
	border-radius: 20px;
	left: 0.27em;
	bottom: 0.25em;
	background-color: #adb5bd;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #007bff;
	border: 1px solid #007bff;
}

input:focus + .slider {
	box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
	transform: translateX(1.4em);
	background-color: #fff;
}

@media only screen and (min-width: 768px) {
	aside {
		right: 66%;
		transform: translateX(-34vw);
	}

	.translateContent {
		transform: translateX(34vw);
	}
}

@media only screen and (min-width: 1440px) {
	aside {
		right: 83%;
		transform: translateX(-17vw);
	}

	.translateContent {
		transform: translateX(17vw);
	}
}
