.deleteDialog[open] {
	background-color: var(--editor-header);

	border-radius: 0.25rem;
	border: 0;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	margin-block: auto;
	top: 40%;

	max-width: 350px;

	h2 {
		font-size: 20px;
	}
	p {
		color: var(--editor-markdown);
		margin-block: 1rem 1rem;
		line-height: 200%;
		font-size: 14px;
	}
	button {
		background-color: var(--accent);
		border: 0;
		color: #f5f5f5;
		padding: 0.5rem;
		border-radius: 5px;
		&:hover,
		&:focus {
			background-color: var(--accent-hover);
			cursor: pointer;
		}
	}
	.deleteDialog__negativeBtn {
		position: absolute;
		top: 5%;
		right: 5%;
		background-color: transparent;
		width: fit-content;
		height: fit-content;
		aspect-ratio: 1;
		display: grid;
		place-items: center;
		&:hover,
		&:focus {
			background-color: var(--accent);
			cursor: pointer;
		}
		svg {
			fill: var(--editor-main-text);
		}
	}
}
