@use "variables";
@use "utility";

:root {
	--editor-main-text-light: #35393f;
	--editor-minor-text-light: #7c8187;
	--editor-header-light: #f5f5f5;
	--editor-background-light: #ffffff;
	--editor-border-light: #e4e4e4;
	--editor-markdown-light: #35393f;
	--editor-blockquote-light: #f5f5f5;

	--editor-main-text-dark: #ffffff;
	--editor-minor-text-dark: #c1c4cb;
	--editor-header-dark: #1d1f22;
	--editor-background-dark: #151619;
	--editor-border-dark: #5a6069;
	--editor-markdown-dark: #c1c4cb;
	--editor-blockquote-dark: #2b2d31;
}

body[data-color-scheme="light"] {
	--editor-main-text: #35393f;
	--editor-minor-text: #7c8187;
	--editor-header: #f5f5f5;
	--editor-background: #ffffff;
	--editor-border: #e4e4e4;
	--editor-markdown: #35393f;
	--editor-blockquote: #f5f5f5;
}

body[data-color-scheme="dark"] {
	--editor-main-text: #ffffff;
	--editor-minor-text: #c1c4cb;
	--editor-header: #1d1f22;
	--editor-background: #151619;
	--editor-border: #5a6069;
	--editor-markdown: #c1c4cb;
	--editor-blockquote: #2b2d31;
}

main {
	display: flex;
	flex-grow: 1;
	transition: 500ms ease-in-out;
	transform: translateX(0);
	margin-top: 4rem;
	overflow-y: hidden;
	background-color: var(--editor-background);
	position: relative;
}

.editingSection {
	display: flex;
	flex-direction: column;
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-style: normal;
	flex-grow: 1;
}

.previewSection {
	display: none;
}

.sectionHeader {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	left: 50%;
	right: 0;
	justify-content: space-between;
	background-color: var(--editor-header);
	padding: 0.5rem 1rem;
	border-left: 1px solid var(--editor-border);
	h2 {
		color: var(--editor-minor-text);
		letter-spacing: 2.5px;
	}
	button {
		background: none;
		border: 0;
	}
	&:last-of-type {
		left: 0;
		right: 50%;
		border: 0;
	}
}

#editingArea {
	padding: 1rem;
	border: 0;
	width: 100vw;
	flex-grow: 1;
	font-family: "Roboto Mono", monospace;
	background-color: var(--editor-background);
	color: var(--editor-markdown);
	font-size: 14px;
	margin-top: 2.5rem;
	outline: 0;
	overflow-y: hidden;
}
#previewArea {
	color: var(--editor-minor-text);
	margin-top: 2.5rem;
	overflow-y: hidden;
}

.previewSection h1,
h2,
h3,
h4,
h5 {
	color: var(--editor-main-text);
}

@media only screen and (min-width: 768px) {
	.editingSection {
		max-width: 50%;
		flex-grow: 0;
		width: 50%;
	}
	.editingSection .sectionHeader {
		button {
			display: none;
		}
	}
	#editingArea {
		width: 100%;
	}
	.previewSection {
		display: flex;
		flex-direction: column;
		max-width: 50%;
		width: 50%;
		border-left: 1px solid var(--editor-border);
	}
	#previewArea {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 1rem;
		flex-grow: 1;
		background-color: var(--editor-background);
	}
}

@media only screen and (min-width: 1440px) {
}
