@use "variables";
@use "utility";

header {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100vw;
	z-index: 100;
	background-color: var(--neutral-800);
	transition: 500ms ease-in-out;
	transform: translateX(0);
}

.menuButton {
	background-color: var(--neutral-700);
	border: 0;
	padding: 1.25rem 1rem;
	height: fit-content;
	aspect-ratio: 1;
	width: 4rem;
	&:hover,
	&:focus {
		background-color: var(--accent);
	}
}

button.menuButtonClose {
	padding: 1.25rem 1.25rem;
}

.headerFileInfo {
	display: flex;
	flex-direction: row;
	margin-left: 1.5rem;
	img {
		object-fit: contain;
		width: 1rem;
	}
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		p {
			display: none;
		}
		button {
			background: none;
			border: 0;
			color: var(--neutral-100);
		}
	}
}

.headerDeleteBtn {
	background: none;
	border: 0;
	margin-left: auto;
	margin-right: 1rem;
	&:hover,
	&:focus {
		svg {
			path {
				fill: var(--accent);
			}
		}
	}
}

#renameDocInput {
	background-color: var(--neutral-800);
	color: var(--neutral-100);
	border: 0;
	border-bottom: 1px solid var(--neutral-100);
}

.headerSaveBtn {
	background-color: var(--accent);
	border: 0;
	height: fit-content;
	margin-block: auto;
	padding: 0.75rem;
	border-radius: 0.25rem;
	margin-right: 1.5rem;
	img {
		height: fit-content;

		width: 1.25rem;
	}
	p {
		display: none;
	}
	&:hover,
	&:focus {
		background-color: var(--accent-hover);
	}
}

.acceptFileNameBtn {
	width: 1.5rem;
	aspect-ratio: 1;

	img {
		width: 100%;

		aspect-ratio: 1;
	}
}

.fileNameChangeForm {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: fit-content;
	justify-content: center;
	button {
		margin-block: auto;
		svg {
			margin-block: auto;
		}
	}
}

@media only screen and (min-width: 768px) {
	.headerFileInfo {
		gap: 0.5rem;
		div {
			align-items: flex-start;
			text-align: left;
			.heading-medium {
				padding: 0;
			}
			p {
				display: block;
				color: var(--neutral-500);
			}
		}
	}
	.headerSaveBtn {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		p {
			display: block;
			color: var(--neutral-100);
		}
	}
}

@media only screen and (min-width: 1440px) {
	.desktopOnly {
		display: block;
	}
	.headerLogoText {
		margin-block: auto;
		text-align: center;
		height: fit-content;
		color: var(--neutral-100);
		border-right: 1px solid var(--neutral-600);
		padding-inline: 1.5rem;
		font-size: 15px;
		letter-spacing: 5px;
		font-family: "Commissioner", sans-serif;
	}
}
