@use "reset";
@use "utility";
@use "variables";
@use "header";
@use "editor";
@use "aside";

html {
	font-family: "Roboto Slab", serif;
	font-optical-sizing: auto;
	font-style: normal;
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	display: flex;
	overflow-x: hidden;
	max-width: 100vw;
	background-color: var(--editor-background);
}

#root {
	display: flex;
	flex-direction: column;
	max-width: 100vw;
	overflow-x: hidden;
	background-color: var(--editor-background);
}

.regular {
	font-family: "Roboto", sans-serif;
	font-style: normal;
}

.mono {
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-style: normal;
}

button:hover {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block: 0;
}
